<h1>List of all Tasks</h1>

  <% @tasks.each do |task| %>
<p>
    <% if task.completed %>
    <i class="far fa-check-circle"></i> - <%= link_to task.title, task_path(task) %>
    <% else %>
    <i class="far fa-circle"></i> - <%= link_to task.title, task_path(task) %>
    <% end %>

      <%= link_to task_path(task), method: :delete,
      data: { confirm: "Are you sure?" } do %>
  <i class='far fa-trash-alt'></i>
<% end %>
</p>

  <% end %>
  <br>
  <div>
<a href="/tasks/new"class="btn">+ Add a new task</a>
</div>
