// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  color: black;
  background:rgba(150, 150, 150, 0.3);
}
.container {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  background:white;
}

.btn {
  background-color: #117B8D;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
.btn:hover {
  background-color: #064049;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}
.box {
  display: flex;

}

.details {
  background-color: #FCF6B1;
  padding: 5px 10px;
}
